/* .page{
  overflow: hidden;
  overflow-y: scroll;
} */
.search{
  width: auto;
  /* min-width: 200px; */
  max-width: 400px;
  margin: auto;
  margin-top: 1em;
}
input{
  border-radius: 20px;
  height: 30px;
}

.notify{
  margin: 1rem;
  background: green;
}
.notification{
  background: red;
  margin: 0.5rem 0;
  padding: 0.5rem;
  min-width: 300px;
}
.btn-primary{
  background-color: #651FA7;
}
