      <div class="content">
    <div class="aside common">

      <table class="table">
        <thead>
          <tr>
            <th>Dashboard</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><i class="fas fa-home"></i><a> Home</a></td>
          </tr>
          <tr>
            <td><i class="fas fa-envelope"></i><a> Messages</a></td>
          </tr>
          <tr>
            <td><i class="fas fa-file-chart-line"></i><a> Reports</a></td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <tr>
            <th>Project</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><i class="fas fa-file-chart-pie"></i><a> Project View</a></td>
          </tr>
          <tr>
            <td><i class="fas fa-tasks"></i><a> Task View</a></td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <tr>
            <th>Learning</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><i class="fas fa-atom"></i><a> System</a></td>
          </tr>
          <tr>
            <td><i class="fas fa-file-search"></i><a> Project</a></td>
          </tr>
          <tr>
            <td><i class="fas fa-lightbulb-on"></i><a> My Learnings</a></td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <tr>
            <th>Profiles</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><i class="far fa-list-alt"></i><a> List Profiles</a></td>
          </tr>
          <tr>
            <td><i class="fas fa-repeat-alt"></i><a> Update Profiles</a></td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th>Admin</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><i class="fas fa-users"></i><a [routerLink]="['/user-admin']"> User Admin</a></td>
          </tr>
          <tr>
            <td><i class="fas fa-cog"></i><a [routerLink]="['/settings']"> Settings</a></td>
          </tr>
          <tr>
            <td><i class="fas fa-sign-out-alt"></i><a [routerLink]="['/logout']"> Logout</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="main common">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
